body {
  background-color: #1a202c;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #edf2f7;
}

.container {
  padding: 32px 32px;
}

.container-md {
  max-width: 900px;
}

a {
  font-weight: 700;
  color: #30cccc;
}

a:visited {
  color: #299393;
}

a:hover {
  color: #4fd1d1;
}

a:active {
  color: #4fd1d1;
}
